.sidebar {
  padding-right: 0;
  
  .title {
    margin-top: 0;
    background-color: #2C2C2C;
    color: white;
  }
}

.movies {
  background-color: lighten(lightgrey, 15%);

  .movie {
    @titleBackground: black;

    float: left;
    margin: 5px 10px;
    border: solid 1px @titleBackground;
    padding-bottom: 5px;

    img.poster {
      width: 140px;
      height: 195px;
    }

    .title {
      background-color: @titleBackground;
      color: white;
    }

    .rating-section {
      text-align: center;

      .rating-input {
        font-size: 20px;
        color: gold;
        cursor: pointer;
      }

      [type='button'].not-interested {
        padding: 0 20px;
        height: 25px;
      }
    }
  }
}