* {
  box-sizing: border-box;
}

.sidebar {
  padding-right: 0;

  .title {
    margin-top: 0;
    background-color: #2C2C2C;
    color: white;
  }
}

.movies {
  background-color: lighten(lightgrey, 15%);

  .movie {
    @titleBackground: black;
    @moviePosterWidth: 140px;
    @moviePosterHeight: 195px;

    float: left;
    margin: 5px 10px;
    border: solid 1px @titleBackground;
    width: @moviePosterWidth;
    height: @moviePosterHeight + 80px;
    padding-bottom: 5px;

    img.poster {
      width: @moviePosterWidth;
      height: @moviePosterHeight;
    }

    .title {
      width: @moviePosterWidth;
      white-space: nowrap;
      background-color: @titleBackground;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1px 5px;
    }

    .rating-section {
      text-align: center;

      .star-rating {
        color: red;       // Color of guessed ratings
        font-size: 20px;
        cursor: pointer;

        &:hover, &.user {
          color: orange; // Color of actual ratings from the user
        }
      }

      [type='button'].not-interested {
        padding: 0 20px;
        height: 25px;
      }
    }
  }
}